/*
  NAVBAR
 */

.navbar.el-menu--horizontal {
  background: linear-gradient(50deg, darken($brand-color, 20%), $brand-color);
  border-bottom: 1px solid $brand-color;

  .container {
    display: flex;
    outline: none;

    .el-submenu,
    .el-menu-item--flex {
      margin-left: auto;
    }
  }

  .el-menu-item,
  .el-submenu {
    color: #fff;

    .el-menu-item {
      color: $alt-color-dark;
    }

    .el-submenu__title,
    .el-submenu__icon-arrow {
      color: #fff;

      &:hover {
        background-color: darken($brand-color, 25%);
      }
    }

    .el-submenu__avatar {
      display: inline;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      margin-right: $spacing-unit-small;
    }

    &.is-active {
      color: #fff;
      background-color: darken($brand-color, 25%);

      .el-submenu__title {
        border-bottom: none;
      }
    }

    &:hover {
      color: #fff;
      background-color: darken($brand-color, 25%);
    }
  }
}
